<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.poso2o.lechuan">

    <uses-sdk tools:overrideLibrary="org.raphets.roundimageview" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- for mta statistics -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    />

    <!--相机、录像权限-->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <!--拍照硬件权限-->
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <!--闪光灯权限-->
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!--  发送消息-->
    <uses-permission android:name="android.permission.SEND_SMS" />
    <!--  阅读消息-->
    <uses-permission android:name="android.permission.READ_SMS" />
    <!--  写入消息-->
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <!-- 接收消息 -->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <!-- 设置调试程序 -->
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <!-- 显示系统窗口 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!-- 打印机权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.hardware.usb.accessory" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- USB打印机权限 -->
    <uses-feature android:name="android.hardware.usb.host" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <permission
        android:name="com.poso2o.lechuan.permission.MIPUSH_RECEIVE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.poso2o.lechuan.permission.MIPUSH_RECEIVE" />
    <application
        android:name="com.poso2o.lechuan.base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <activity
            android:name="com.poso2o.lechuan.activity.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar">

            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->

            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>

        <!--启动页-->

        <activity
            android:name="com.poso2o.lechuan.activity.login.StartActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--登录-->
        <activity
            android:name="com.poso2o.lechuan.activity.login.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--注册-->
        <activity
            android:name="com.poso2o.lechuan.activity.login.RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--忘记密码-->
        <activity
            android:name="com.poso2o.lechuan.activity.login.ForgetPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <!--修改密码-->
        <activity
            android:name="com.poso2o.lechuan.activity.login.UpdatePasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--绑定微信登录-->
        <activity
            android:name="com.poso2o.lechuan.activity.login.WxBindActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--佣金详情列表-->
        <activity
            android:name="com.poso2o.lechuan.activity.mine.CommissionDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <!--领取详情列表-->
        <activity
            android:name="com.poso2o.lechuan.activity.mine.AcceptDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <!--红包详情列表-->
        <activity
            android:name="com.poso2o.lechuan.activity.mine.RedPacketDetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <!--红包收支记录-->
        <activity
            android:name="com.poso2o.lechuan.activity.mine.RedPacketRecordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <!--佣金设置-->
        <activity
            android:name="com.poso2o.lechuan.activity.mine.CommissionSettingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <!--邀请好友抢红包-->
        <activity
            android:name="com.poso2o.lechuan.activity.mine.InvitationFriendsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <!---->
        <activity
            android:name="com.poso2o.lechuan.activity.mine.PosterDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <!--我的-用户信息-->
        <activity
            android:name="com.poso2o.lechuan.activity.mine.UserInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <!--编辑信息-->
        <activity
            android:name="com.poso2o.lechuan.activity.mine.EditTextActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <!--编辑手机号码-->
        <activity
            android:name="com.poso2o.lechuan.activity.mine.EditPhoneActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <!--佣金结算-->
        <activity
            android:name="com.poso2o.lechuan.activity.topup.CommissionSettleActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <!--批量邀请粉丝-->
        <activity
            android:name="com.poso2o.lechuan.activity.mine.InvitationFansActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name="com.poso2o.lechuan.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.poso2o.lechuan.wxapi.WXPayEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencentwx730df332c5011c13" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"></activity>
        <!--商家首页面-->
        <activity
            android:name=".activity.realshop.RShopMainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <!--<intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>

        <!--实体店界面-->
        <activity
            android:name=".activity.realshop.RShopActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--实体店设置页-->
        <activity
            android:name=".activity.realshop.MenuSettingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--实体店详情页-->
        <activity
            android:name=".activity.realshop.RShopInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--实体店商品详情页-->
        <activity
            android:name=".activity.goods.GoodsDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--蓝牙页面-->

        <!--条码打印页-->
        <activity
            android:name=".activity.print.PrintBarcodeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--实体店商品上传页面-->
        <activity
            android:name=".activity.goods.RGoodsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--微店目录页面-->
        <activity
            android:name=".activity.goods.CatalogActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--实体店目录界面-->
        <activity
            android:name=".activity.realshop.RCatalogActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--微店商品颜色页面-->
        <activity
            android:name=".activity.goods.ColorActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--实体店颜色界面-->
        <activity
            android:name=".activity.realshop.RColorActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--编辑供应商页面-->
        <activity
            android:name=".activity.goods.EditSupplierActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--编辑实体店商品页面-->
        <activity
            android:name=".activity.goods.EditGoodsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--实体店商品名称类-->
        <activity
            android:name=".activity.goods.GoodsNameActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--商品分类页面-->
        <activity
            android:name=".activity.realshop.GoodsTypeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--微店商品尺寸页面-->
        <activity
            android:name=".activity.goods.SizeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--实体店商品尺寸页面-->
        <activity
            android:name=".activity.realshop.RSizeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--商品规格页面-->
        <activity
            android:name=".activity.goods.SpecActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--供应商页面-->
        <activity
            android:name=".activity.goods.SupplierActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--商品单位页面-->
        <activity
            android:name=".activity.goods.UnitActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--实体店会员界面-->
        <activity
            android:name=".activity.realshop.MemberActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--实体店员工界面-->
        <activity
            android:name=".activity.realshop.MenuStaffActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--实体店员工编辑页面-->
        <activity
            android:name=".activity.realshop.EditStaffActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--实体店员工职位页面-->
        <activity
            android:name=".activity.realshop.PositionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--实体店职位权限编辑界面-->
        <activity
            android:name=".activity.wshop.PositionPermissionEditActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--实体店报表页面-->
        <activity
            android:name=".activity.realshop.RReportActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--实体店交接明细页面-->
        <activity
            android:name=".activity.realshop.RTransferActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--实体店交接详情页面-->
        <activity
            android:name=".activity.realshop.TranslateDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--实体店商品库存页面-->
        <activity
            android:name=".activity.realshop.RStockActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--实体店月损益页面-->
        <activity
            android:name=".activity.realshop.RMonthProfitActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--实体店月损益设置页面-->
        <activity
            android:name=".activity.realshop.RMonthProfitSetActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <!--实体店人员业绩页面-->
        <activity
            android:name=".activity.realshop.RAchievementActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--实体店人员业绩设置页面-->
        <activity
            android:name=".activity.realshop.RAchievementSetActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--实体店热销排行页面-->
        <activity
            android:name=".activity.realshop.RHotSaleActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--实体店营销界面-->
        <activity
            android:name=".activity.realshop.RMarketActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--实体店营销满减活动界面-->
        <activity
            android:name=".activity.realshop.PerReduceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--实体店营销满减活动详情界面-->
        <activity
            android:name=".activity.realshop.PerReduceInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--实体店营销折扣商品界面-->
        <activity
            android:name=".activity.realshop.DiscountGoodsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--实体店营销优惠券页面-->
        <activity
            android:name=".activity.realshop.CouponActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--实体店营销优惠券详情页面-->
        <activity
            android:name=".activity.realshop.CouponInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--实体店营销会员活动页面-->
        <activity
            android:name=".activity.realshop.AddMemberSpecialActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--实体店订单界面-->
        <activity
            android:name=".activity.realshop.OldOrderActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--微店功能介绍页面-->
        <activity
            android:name=".activity.wshop.WShopDesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--企业认证页面-->
        <activity
            android:name=".activity.realshop.CompanyDefineActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <!--微信公众号绑定界面-->
        <activity
            android:name=".activity.wshop.WCAuthorityActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--绑定微信支付页面-->
        <activity android:name=".activity.wshop.WBindPayActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--微店界面-->
        <activity
            android:name=".activity.wshop.WShopActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--微店商品详情界面-->
        <activity
            android:name=".activity.wshop.WGoodsDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--微店编辑商品界面-->
        <activity
            android:name=".activity.wshop.WEditGoodsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--公众号界面-->
        <activity
            android:name=".activity.realshop.OfficalAccountActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--公众号助手-->
        <activity
            android:name=".activity.realshop.OAHelperActivity"
            android:screenOrientation="portrait" />

        <!--文章添加广告页面-->
        <activity
            android:name=".activity.realshop.ArticleAdActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--公众号文章搜索界面-->
        <activity
            android:name=".activity.realshop.ArticleSearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <!--广告选择商品界面-->
        <activity android:name=".activity.realshop.AdGoodsActivity"
            android:windowSoftInputMode="stateAlwaysHidden"/>

        <!--文章预览页面-->
        <activity
            android:name=".activity.realshop.ArtPreviewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--微店导入商品界面-->
        <activity
            android:name=".activity.wshop.WImportGoodsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <!--我要开店页面-->
        <activity
            android:name=".activity.realshop.OpenShopActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--实体店功能介绍-->
        <activity
            android:name=".activity.realshop.RShopDesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--乐传服务页面-->
        <activity
            android:name=".activity.wshop.LechuanServiceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--服务套餐选择页面-->
        <activity
            android:name=".activity.wshop.ServiceSelectActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--乐传服务支付方式选择界面-->
        <activity
            android:name=".activity.wshop.SelectPayActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--老版本职位权限界面-->
        <activity
            android:name=".activity.realshop.RPermissionActivity"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".activity.realshop.EditPositionActivity"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".activity.realshop.CropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--发布-->
        <activity
            android:name="com.poso2o.lechuan.activity.publish.PublishActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--充值-->
        <activity
            android:name="com.poso2o.lechuan.activity.topup.TopUpActivity"
            android:screenOrientation="portrait" />

        <!--提现-->
        <activity
            android:name="com.poso2o.lechuan.activity.topup.WithdrawalActivity"
            android:screenOrientation="portrait" />

        <!--添加广告-->
        <activity
            android:name="com.poso2o.lechuan.activity.publish.AddAdvertisingActivity"
            android:screenOrientation="portrait" />

        <!--文章详情-->
        <activity
            android:name="com.poso2o.lechuan.activity.publish.ArticleDetailsActivity"
            android:screenOrientation="portrait" />

        <!--选择商品-->
        <activity
            android:name="com.poso2o.lechuan.activity.goods.SelectGoodsActivity"
            android:screenOrientation="portrait" />

        <!-- 选择图片界面 -->
        <activity
            android:name="com.poso2o.lechuan.activity.image.SelectImagesActivity"
            android:screenOrientation="portrait" />

        <!-- 图片预览界面 -->
        <activity
            android:name="com.poso2o.lechuan.activity.image.ImagePreviewActivity"
            android:screenOrientation="portrait" />

        <!--广告详情-->
        <activity
            android:name="com.poso2o.lechuan.activity.poster.PosterDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--广告搜索页面-->
        <activity
            android:name="com.poso2o.lechuan.activity.poster.PosterSearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--广告评论-->
        <activity
            android:name="com.poso2o.lechuan.activity.poster.PosterCommentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--广告红包详情-->
        <activity
            android:name="com.poso2o.lechuan.activity.poster.PosterRedBagActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--广告佣金详情页面-->
        <activity
            android:name="com.poso2o.lechuan.activity.poster.PosterCommissionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <!--广告我的发布-->
        <activity
            android:name="com.poso2o.lechuan.activity.poster.MyPublishActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <!--广告我的收藏-->
        <activity
            android:name="com.poso2o.lechuan.activity.poster.MyCollectionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <!--广告我的关注-->
        <activity
            android:name="com.poso2o.lechuan.activity.poster.MyFollowActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <!--广告我的粉丝-->
        <activity
            android:name="com.poso2o.lechuan.activity.poster.MyFansActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <!--广告商家店铺评论页面-->
        <activity
            android:name="com.poso2o.lechuan.activity.poster.ShopCommentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <!--广告商家店铺评论页面-->
        <activity
            android:name="com.poso2o.lechuan.activity.poster.MyScrollViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <!--广告商家公开店铺页面-->
        <activity
            android:name="com.poso2o.lechuan.activity.poster.OpenHomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <!--订单页面-->
        <activity
            android:name="com.poso2o.lechuan.activity.order.OrderActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">

            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->

            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->

        </activity>

        <!--订单列表页面-->
        <activity
            android:name="com.poso2o.lechuan.activity.order.OrderListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <!--订单修改价格页面-->
        <activity
            android:name="com.poso2o.lechuan.activity.order.OrderPriceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <!--修改订单地址页面-->
        <activity
            android:name="com.poso2o.lechuan.activity.order.OrderAddressActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <!--修改订单备注页面-->
        <activity
            android:name="com.poso2o.lechuan.activity.order.OrderRemarkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <!--订单发货页面-->
        <activity
            android:name="com.poso2o.lechuan.activity.order.OrderDeliveryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <!--物流公司页面-->
        <activity
            android:name="com.poso2o.lechuan.activity.order.LogisticsCompanyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <!--批量发货页面-->
        <activity
            android:name="com.poso2o.lechuan.activity.order.BatchDeliveryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <!--批量发货页面-->
        <activity
            android:name="com.poso2o.lechuan.activity.order.BatchDeliveryNextActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <!--物流信息页面-->
        <activity
            android:name="com.poso2o.lechuan.activity.order.LogisticsInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <!--修改物流页面-->
        <activity
            android:name="com.poso2o.lechuan.activity.order.LogisticsModifyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <!--订单评论页面-->
        <activity
            android:name="com.poso2o.lechuan.activity.order.OrderEvaluateActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <!--订单详情页面-->
        <activity
            android:name="com.poso2o.lechuan.activity.order.OrderInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <!--省市区地址选择-->
        <activity
            android:name="com.poso2o.lechuan.activity.order.AddressSelectActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <!--打印机 - 选择货币-->
        <activity
            android:name="com.poso2o.lechuan.activity.print.CurrencySelectActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <!--打印机 - 首页-->
        <activity
            android:name="com.poso2o.lechuan.printer.PrinterBluetoothActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"></activity>

        <!--打印机 - 连接蓝牙设备-->
        <activity
            android:name="com.poso2o.lechuan.printer.BluetoothDeviceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <!--公众号助手-自由编辑发布页-->
        <activity
            android:name=".activity.oa.OAFreeEditActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity
            android:name=".activity.oa.OAFreeEditActivity2"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <!--公众号服务订购页面-->
        <activity android:name=".activity.official.OaServiceActivity"/>

        <!--公众号设置模板组详情-->
        <activity android:name=".activity.official.ModelGroupInfoActivity"/>

        <!--公众号模板订购页面-->
        <activity android:name=".activity.official.ModelServiceActivity"/>

        <!--模板实例（还没购买，不可编辑）-->
        <activity android:name=".activity.official.ModelInfoActivity"/>

        <!--模板详情 （已购买，可以编辑）-->
        <activity android:name=".activity.official.ModelEditActivity"/>
        <activity android:name=".activity.orderinfo.OrderInfoMainActivity" />
        <activity android:name=".activity.orderinfo.OrderEntityShopActivity" />

        <!-- 蓝牙广播服务 -->
        <receiver android:name=".receiver.BluetoothReceiver">
            <intent-filter android:priority="1000">
                <action android:name="android.bluetooth.device.action.PAIRING_REQUEST" />
                <action android:name="android.bluetooth.device.action.FOUND" />
            </intent-filter>
        </receiver>

        <!--//小米推送 开始-->
        <service
            android:name="com.xiaomi.push.service.XMPushService"
            android:enabled="true"
            android:process=":pushservice" />
        <service
            android:name="com.xiaomi.push.service.XMJobService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process=":pushservice" /> <!--注：此service必须在3.0.1版本以后（包括3.0.1版本）加入-->
        <service
            android:name="com.xiaomi.mipush.sdk.PushMessageHandler"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="com.xiaomi.mipush.sdk.MessageHandleService"
            android:enabled="true" /> <!--注：此service必须在2.2.5版本以后（包括2.2.5版本）加入-->
        <receiver
            android:name="com.xiaomi.push.service.receivers.NetworkStatusReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.xiaomi.push.service.receivers.PingReceiver"
            android:exported="false"
            android:process=":pushservice">
            <intent-filter>
                <action android:name="com.xiaomi.push.PING_TIMER" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.poso2o.lechuan.receiver.MiMessageReceiver"
            android:exported="true">
            <!--这里com.xiaomi.mipushdemo.DemoMessageRreceiver改成app中定义的完整类名-->
            <intent-filter>
                <action android:name="com.xiaomi.mipush.RECEIVE_MESSAGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.MESSAGE_ARRIVED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.ERROR" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.poso2o.lechuan.receiver.InnerMessageReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.poso2o.lechuan.INVITE_BIND" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.poso2o.lechuan.INVITE_UNBIND" />
            </intent-filter>
        </receiver>
    </application>

</manifest>